venv/
Trendlyne/templates/static/bower_components/
Trendlyne/reactjs/node_modules
*.pyc
*.tmp
*.orig
*.diff
*.rej
*.done
*.swp
*.swo
*.db
*.sqlite3
*/settings_*.py
*.iml
.idea
DEL
*.bak
mypy*
dist/
build/
*.egg-info/
!.gitignore
!.travis.yml
.git_back
.DS_Store
hosts.json
cscope.files
cscope.out
mk_cscope
tags
.vscode/
aws_config.py
db.sqlite3